* {
    main-bg:            #292A3FE6;
    main-fg:            #A897B0;
    main-br:            #42629B;
    main-ex:            #24262B;
    select-bg:          #212758;
    select-fg:          #D6D5C0;
}
